
 /* Autor: Fernando Pereira Alves
 GitHub: @Fernandodev0102
 Contato: 85976014779 
 */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    color: #000000;
    margin: 0;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    color: #fff;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

.btn-lista {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: #222;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.btn-lista:hover {
    background-color: #555;
}

h1{
color: white;
}